body{
margin:0px;
padding:0px;
}
html {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}		
#p2{
	text-align:center;
	padding:5px;
	background-color:#ff3300;
	border: solid 2px;
	font-size: 25px;
	}
	#p1{
	padding:5px;
	display:none;
	text-align:left;
	color: black;
	font-size: 20px;
	height:100%;
	border: solid 2px;
	}
	#lewa
	{
	width:20%;
	height:100%;
	float : left;
	background-color: #ff3300;	
	}
	#prawa
	{
		width : 100%;
		height : 100%;
		background: url(obrazki/tlo.jpg);
		border: solid 2px;
	}
	#napis
{
	color: white;
	font-size: 40px;
	cursor: pointer;
}
#gora
{
	text-align:center;
	width : 100%;
	height:50px;
	background-color: #ff3300;
	border: solid 2px;
	padding:15px;
}

#log
{
			display:none;
}

p
{
			display:none;
			text-align:center;
}
#napis2
{
	color: black;
	font-size: 40px;
	cursor: pointer;
}
#napis3
{
	color: white;
	cursor: pointer;
}
button{
	width: 250px;
	height: 40px;
	border: 5px; 
	border-radius: 15px;
	background-color:#ff3300;
	}